.canvas-block-container {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  border: none;
  position: relative;
  font-size: 20px;
  overflow: hidden;
}


.grid .tick line {
  opacity: 0.2;
  stroke: lightgray;
}

.axis .tick line {
  opacity: 1;
  stroke: black;
}

.domain {
  stroke-opacity: 0;
}

.math-text-item {
  position: absolute;
  pointer-events: none;
}

.graph-item {
  position: absolute;
}



#arrangementLayer {
  position: absolute;
  left: 0;
  top: 0;
  background: transparent;
  z-index: 302;
  pointer-events: none;
}

.penLayer {
  position: absolute;
  left: 0;
  top: 0;
  background: transparent;
  z-index: 300;
  pointer-events: none;
  width: 1000px;
  height: 3000px;
}

.nodeselection {
  fill: #ADD8E6;
  stroke: #ADD8E6;
  fill-opacity: 0.3;
  stroke-opacity: 0.7;
  stroke-width: 2px;
  stroke-dasharray: 5, 5;
}

.active-slide-label {
  position: absolute;
  left: 325px;
  bottom: 10px;
  color: yellow;
  font-size: 15px;
  font-weight: bold;
}

.arrowLayer {
  position: absolute;
  z-index: 1;
}

.gif-item {
  z-index: 1;
}


.grid-layer-container {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
  border: none;
  pointer-events: none;
  visibility: visible;
}

.axis path, .axis line {
  shape-rendering: crispEdges;
  stroke: black;
  fill: none;
}

.tick text {
  font: 11px Lucida Console, "Segoe UI", "Tahoma", Courier, monospace;
  fill: black;
  opacity: 0.8;
}

.coordinate-indicator-container {
  position: absolute;
  right: 10px;
  top: 5px;
  width: 150px;
  height: 60px;
  cursor: pointer;
  background: yellow;
  font-weight: lighter;
  font: 11px Lucida Console, "Segoe UI", "Tahoma", Courier, monospace;
  padding: 0;
}

.xycoordinates {
  font-size: 15px;
  padding: 5px;
  margin-right: 5px;
  font-weight: 600;
}

.xycoordinates .xycoordinates-value {
  color: black;
}

.message-container {
  position: absolute;
  background: transparent;
  pointer-events: none;
  width: 100%;
  height: 100%;
  z-index: 300;
  left: 0;
  top: 0;
  overflow: hidden;
}